body {
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('fundoPao.jpg') no-repeat center center fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    height: 89vh;
}

#bodyAvs {
    background-image: url('fundoAvs.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 89vh;
}



.divTitulo {
    background-color: #7f4f24;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.titulo {
    color: white;
}

.formulario {
    width: 30em;
}

.nota {
    display: flex;
    justify-content: center;
}

.texto {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.botao {
    display: flex;
    justify-content: space-between;
}

.botaoAvs {
    border-radius: 0.2em;
    height: 35px;
    font-size: 16px;
    width: 100%;
}

.botaoEnviar {
    border-radius: 0.2em;
    height: 35px;
    font-size: 16px;
    width: 50%;
}


button {
    background-color: #7f4f24;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: rgba(127, 79, 36, 0.8);
        background-blend-mode: multiply;
    }


form {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.caixaSelect {
    border: 1px solid #7f4f24;
    border-radius: 0.28em;
    width: 24em;
    height: 30px;
    font-size: 20px;
    color: #7f4f24;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #7f4f24;
    font-size: 20px;
    font-weight: 600;
}

.caixaNota {
    border: 1px solid #7f4f24;
    border-radius: 0.28em;
    resize: none;
    margin-bottom: 10px;
    height: 30px;
    width: 36em;
    font-size: 20px;
    color: #7f4f24;
}

.caixaComentario {
    border: 1px solid #7f4f24;
    border-radius: 0.28em;
    resize: none;
    width: 36em;
    color: #7f4f24;
    font-size: 20px;
}

.review {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 60%;
}

.review h2 {
    margin-top: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}